.container {
    width: auto;
    
    margin: 0 auto;
    padding: 20px;
    background-image: url('BgImg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 0%;
    /* margin-bottom: 0px; */
  }
  
  .header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .logo {
    padding: 10% 50px;
    width: 70%;
    height: auto;
  }

  .intro {
    padding: 100px;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    font-size: 1.5vw;
    font-weight: bold;
    font-family: sans-serif; 
  }

  h2 {
    color: whitesmoke;
  }

  h1 {
    padding: 50px;
    padding-bottom: 0%;
    color:  #eba834;
    font-family: sans-serif;

  }

  a:link, a:visited {
    background-color: #eba834;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 50px;
  }
  
  a:hover, a:active {
    background-color: white;
    color: #eba834;
  }

  .mileStone {
    font-family: sans-serif;
    text-align: center;
    color: gray;
  }
  
  .conect{
    padding: 50px;
  }

  #comm{
    background-color: whitesmoke;
    border: #eba834;
    padding: 10px 20px;
    margin: 20px;
    color: gray;
  }

  #wave{
    margin-top: -100%;
    padding: 0;
  }

  

  /* //Text Styles  
 @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
$font-sans: 'Open Sans', sans-serif; */



body {
    background-color: black;
    /* background-image: linear-gradient(black, gray); */
}


main {
  min-width: 300px;
  max-width: 500px;
  margin: auto;

  
}

p {
  font-size: 1em;
  line-height: 1.75em;
  border-top: 3px solid;
  border-image: linear-gradient(to right, #ffa600 0%, #d18d52 100%);
  border-image-slice: 1;
  border-width: 3px;
  margin: 0;
  padding: 40px;
  counter-increment: section;
  position: relative;
  color: #eba834;
  
  /* //numbers */
  &:before {
    content: counter(section);
    position: absolute;
    border-radius: 50%;
    padding: 10px;
    height: 1.25em;
    width: 1.25em;
    background-color: #eba834;
    text-align: center;
    line-height: 1.25em;
    color: #ffffff;
    font-size: 1em;
  }
}
/* //odd number borders */
p:nth-child(odd) {
  border-right: 3px solid;
  padding-left: 0;
  
  &:before {
    left: 100%; 
    margin-left: -20px;
  }
}
/* //even number borders */
p:nth-child(even) {
  border-left: 3px solid;
  padding-right: 0;
  
  &:before {
    right: 100%; 
    margin-right: -20px;
  }
}
/* //handle first and last */
p:first-child {
  border-top: 0;
  border-top-right-radius:0;
  border-top-left-radius:0;
}
p:last-child {
  border-bottom-right-radius:0;
  border-bottom-left-radius:0;
}